body {
    font-family: 'Lobster Two', cursive; sans-serif;
  }
  
  
  section {
      background-color: #c3bbec;
      
    }  
    
    .hero {
      background-color: #fbc3c4;
      height: 100vh;
      color: #996bab;
      font-size: 30px;
    }
  
  
    
    nav{
      display: flex;
      justify-content: space-between;
    }
  
    ul{
      display: flex;
      width: 400px;
      justify-content: space-around;
      font-size: 20px;
      
     }
    
    li {
      /*width: 170px*/
    }
    
    h1{
      font-size: 50px;
      color: #e49cc2;
      margin: 0;
   }
  
    p{
    margin: 0%;
    font-size: 30px;
    font-weight: 400;
    }
  
    .hero-area{
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;
    }
  
    .hero-text {
      margin-left: 80px ;
      margin-bottom: 200px;
    }
    .button {
      width: 200px;
      height: 55px;
      border-radius: 25px;
      background-color: lightblue ;
      text-align: center;
      font-size: 30px;
      font-weight: 400;
      padding-top: 5px;
      margin-top: 20px;
    }
  
     .button:hover{
      background-color: hotpink;
     }
    .button:active {
      background-color: blue;
      color: lightblue;
    }
  
    .socials{
      padding-bottom: 150px;
    }
  
    .logo{
      height: 100px;
     
  
     }
  
    .social{
        height: 10px;
         
    }
    .sub-section {
      display: flex;
      justify-content: space-around;
      padding: 50px;
      display: flex;
    }
  
  h2 {
    font-size: 40px;
    color: seagreen
  }
      
  .photo{
    width: 300px;
    border-radius: 100px ;
  
  } 
  
  .photo-container{
    display: flex;
    align-items: center;
  }
  
  .information{
    color: green
  }

  a{
    text-decoration: none;
    color: #996bab;
  }
  
  footer {
    background-color: #fee6e4;
    color:#996bab;
    text-align: center;
    padding: 80px;
    

  }

  footer .socials{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    

